* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text: #ffffff;
    --navbar: #303240;
    --bg: #edf2fa;
    --menuhover: #1d1e26;
    --borderactive: #009ecc;
    --font: "Source Sans Pro", sans-serif;
}
html,
body {
  height: 100%;
  width: auto;
  background-color: #f2f3f7;
}

.nav-bar {
    background-color: var(--navbar);
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 30px;
    color: white;
    position: sticky;
    width:auto;
    border:0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.nav-bar-logo {
    display: flex;
    align-items: center;
}

.nav-bar-logo img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.nav-bar-title {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
.nav-bar-title h3 {
    font-size: 20px;
    font-weight: normal;
    font-family: var(--font);
}
.nav-bar-items {
    display: flex;
    align-items: left;
  }

  .nav-bar-logo img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
.nav-bar-title p {
    font-size: 10px;
    font-weight: normal;
    font-family: var(--font);
}

.nav-bar-items ul {
    display: flex;
    list-style-type: none;
}

.nav-bar-items li {
    margin-right: 5px;
    padding: 20px 10px;
    border: 0px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }

.nav-bar-items a {
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-item:hover {
    background-color: var(--menuhover);
}

.nav-bar-right-side {
    display: flex;
    align-items: center;
}

.add-request-btn {
    display: flex;
    align-items: center;
    background-color: var(--borderactive);
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: var(--text);
    margin-right: 15px;
}

.nav-item:hover,
.nav-item-active:hover {
  background-color: #1d1e26;
}

.nav-item-active {
    border-bottom: 3px solid var(--borderactive);
}

.nav-bar-right-side {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.add-request-btn {
  background-color: var(--borderactive);
  border: none;
  padding: 6px 10px;
  color: var(--text);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.plus-icon {
  margin-right: 5px;
}

.add-request-btn:hover {
  background-color: #0086ad;
}

.help-image img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.zerohours {
    font-size: 30px;
    color: rgb(106, 105, 105);
  }
  .user-image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
.mobile-menu {
    display: none;
    background-color: var(--navbar);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
}

.mobile-menu li {
    padding: 10px;
    text-align: center;
}

.mobile-menu a {
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
}

.mobile-menu button {
    display: block;
    margin: 10px auto;
}

.show-menu {
    display: block;
}
.ham-icon{
    display: none;
}
.badge {
    background: rgb(177, 176, 176);
    color: var(--text);
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 5px;
}

.action-bar {
    background-color: #ffffff;
    padding: 10px;
}

.action-bar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.action-bar li {
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-bar a {
    text-decoration: none;
    color: #4d5456;
    font-size: 16px;
    transition: color 0.3s ease;
}

.action-active a,
.action-bar a:hover {
    color: var(--borderactive);
    font-weight: bold;
}

.action-active {
    border-bottom: 3px solid var(--borderactive);
}
.vacation-grid{
    display: flex;
    flex-direction: column;
    padding:10px 20px;

  }
.main-content
{   
    padding: 30px 20px;
}
  .vacation-grid h1 {
    text-align: left;
    color: #474a59;
    margin-left: 0;
    display: flex;
    justify-content: start;
    font-size: 25px;
  }
  .vacation-container {
    display: flex;
    justify-content: center;
    font-family: var(--font);
    gap: 5px;
    overflow-x: auto;
  }
  .vacation-grid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
  }
  .vacation-grid-header p {
    font-size: 16px;
    font-weight: normal;
    font-weight: 600;
    color: var(--borderactive);
    padding-bottom: 25px;
    margin-left: 0;
    display: flex;
    justify-content: start;
    cursor: pointer;
  }
  
.circle-chart {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 18px;
    font-weight: bold;
    border: 8px solid #ddd;
    position: relative;
    padding: 30px;
  }
  
  .circle-chart.full {
    border-color: #23b2de;
  }
  
  .fifteen {
    font-size: 30px;
    font-weight: bold;
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  p.fifteen-days {
    font-size: 13px;
    color: #ced0db;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.vacation-card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-right: 10px;
    height:250px;
  }
  .vacation-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    color:#474a59;
  }
  .vacation-card p {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    font-weight: 600;
  }
  .vacation-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .vacation-info-text {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.section-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 20px 0;
  }
  
  .section-header h2 {
    margin: 0;
  }
  
  .section-header h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    color: #09a5d4;
    cursor: pointer;
    transition: color 0.3s;
  }
  
.section-header h3:hover {
    color: #09a5d4;
  }
  
 
.request-tab-header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-right: 10px;
    font-size: 15px;
    background-color: white;
    padding: 20px 20px;
  }
  .request-tab-header ul {
    display: flex;
    list-style-type: none;
  }
  .request-tab-header a {
    text-decoration: none;
    color: #313131;
    font-size: 16px;
    margin-right: 20px;
    transition: color 0.3s ease;
    font-weight: 600;
    cursor:pointer;
  }
  .request-tab-content {
    display: flex;
    flex-wrap: nowrap;
  }
  .active-tab {
    border-bottom: 3px solid var(--borderactive);
    font-weight: bold;
    color:var(--borderactive) !important;
    padding-bottom: 20px;
}
span {
    color: var(--borderactive); 
    font-weight: bold;
}
.request-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.request-table th, .request-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.request-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.request-table th span img {
    vertical-align: middle;
    margin-left: 5px;
}
.request-table tr span img {
    vertical-align: middle;
    margin-right: 5px;
}
.closed
{
    border-radius: 20px;
    border:black solid 1px;
    text-align: center;
    height:18px;
    width:100px;
    margin-right: 10px;
}
.badg{
    background: rgb(217, 214, 214);
    color: var(--text);
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 8px;
}

.request-table tbody tr:hover {
    background-color: #f9f9f9;
}
.request-table tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}

.request-table tbody tr:nth-child(even) {
    background-color: #f2f3f7;
}
.chatbot-icon {
    position: fixed;
    bottom: 20px; 
    right: 20px;   
    width: 60px;   
    height: 60px;
    background: linear-gradient(176.95deg, #b074ff -30.27%, #6d94ff 97.47%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    z-index: 1000; 
}

.chatbot-icon img {
    width: 35px;  
    height: 35px;
}

.chatbot-icon:hover {
    background: linear-gradient(176.95deg, #7b31dc -30.27%, #6d94ff 97.47%);
}


@media screen and (max-width: 800px) {
    .nav-bar
    {
        padding: 10px 20px;
    }
    .nav-bar-items {
        display: none;
        
    }
    .nav-bar-title h3
    {
        font-size:16px;
    }
    .nav-bar-title p
    {
        font-size:13px;
    }

    .ham-icon {
        display: block;
        margin-right: 3px;
    }

    .help-image, .user-image {
        display: none;
    }
    .vacation-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: var(--font);
        gap: 10px;
        overflow-x: hidden;
    }
    .action-bar ul {
        display: flex;
        flex-direction: row; 
        align-items: center;
        padding: 10px 0;
    }
    
    .action-bar li {
        width: 100%;
        text-align: center;
        padding: 8px 0;
    }

    .vacation-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 10px; 
    }

    .vacation-card {
        width: 100%; 
        max-width: 300px; 
    }

    .request-tab-header ul {
        justify-content: center;
    }

    .request-tab-header ul li {
        padding: 5px;
    }
}

@media screen and (max-width: 480px) {
    .nav-bar
    {
        padding: 10px 20px;
    }
    .nav-bar-items {
        display: none;
        
    }
    .nav-bar-title h3
    {
        font-size:16px;
    }
    .nav-bar-title p
    {
        font-size:13px;
    }

    .ham-icon {
        display: block;
        margin-right: 3px;
    }
    .action-bar ul {
        flex-direction: row;
    }

    .action-bar li {
        width: 100%;
        text-align: center;
        padding: 10px 0;

    }

    .vacation-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .request-table,.request-tab-header
    {
        flex-shrink:inherit;
    }
    
}


